.schedule {
  display: flex;
  flex-wrap: wrap;
  .groupCard {
    width: 200px;
    margin: 20px;
    text-align: center;
    .card {
      padding: 5px 0;
    }
  }
}

@media (max-width: 742px) {
  .schedule {
    .groupCard {
      width: 40%;
    }
  }
}

@media (max-width: 524px) {
  .schedule {
    justify-content: center;
    .groupCard {
      width: 100%;
    }
  }
}