.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .groupCard {
    width: 30%;
    margin: 20px;
    text-align: center;
    .card {
      padding: 5px 0;
      .subject {
        display: flex;
        align-items: center;
        width: 100%;
        .office__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .office__input {
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 742px) {
  .schedule {
    .groupCard {
      width: 40%;
    }
  }
}

@media (max-width: 524px) {
  .schedule {
    justify-content: center;
    .groupCard {
      width: 100%;
    }
  }
}