.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .groupCard {
    width: 30%;
    margin: 20px;
    text-align: center;
    .card {
      padding: 5px 0;
      .subject {
        display: flex;
        align-items: center;
        width: 100%;
        .office__list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .office__input {
            width: 70px;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .schedule {
    .groupCard {
      width: 40%;
    }
  }
}

@media (max-width: 1128px) {
  .schedule {
    .groupCard {
      width: 45%;
    }
  }
}

@media (max-width: 1128px) {
  .schedule {
    .groupCard {
      width: 80%;
    }
  }
}

@media (max-width: 566px) {
  .schedule {
    justify-content: center;
    .groupCard {
      width: 100%;
    }
  }
}

@media (max-width: 506px) {
  .schedule {
    .groupCard {
      .card {
        .subject {
          flex-direction: column;
          .office__list {
            .office__input {
              margin: 5px;
            }
          }
        }
      }
    }
  }
}